header{
	border-bottom: 1px solid #FFFFFF;
}
/*aqui muda a parte superior do codigo*/
#cabecalho{

	font-size: 65px;
	color:white;
	text-shadow: 2px 2px 4px #000000;
	background: radial-gradient(#DCDCDC,#C0C0C0);
	box-shadow: 2px 2px 4px #000000;

}
.estilo{
	font-style: italic;
}



/*navegação do usuario*/
#navegacao{

	

	color:white;
	text-shadow: 2px 2px 2px #4682B4;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0 10px 520px;
	position: absolute;
	top: -10px;



}
#navegacao a{
	text-decoration: none;
	color: white;

}
/*ocultei o menu principal o guanabara falou que era pra buscas no futuro*/
#menuprincipal{
			font-size: 20px;
			position: absolute;
			background:#778899;
			border-radius: 8px 8px;
			top: 100px;
			right: 0px;


}


/*coloca o menu livros etc em linha */
#navegacao li{

	display: inline-block;
	background:#778899;
	padding: 2px;
	border-radius: 8px 8px;
	font-size: 24px;
	


	
	
}

/*efeitos quando passa o mouse por cima do menu*/
#navegacao li:hover{
	background: #606060;
	transition: 1.9s;
	font-size: 26.9px;
}
/*descrição da minha vida espaço*/
section{
	width: 400px;
	border: 1px solid #000000;
}

/*espaçamento interno da minha vida*/
div{
	padding: 20px;
}